<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Gloom Gloom</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Arial Narrow;9.75</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="228,228,228" />
                <SvgColor Name="Paint Deep Shadow" Value="218,218,218" />
                <SvgColor Name="Brush" Value="38,38,38" />
                <SvgColor Name="Brush Light" Value="102,102,102" />
                <SvgColor Name="Brush High" Value="38,38,38" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="22,100,167" />
                <SvgColor Name="Accent Paint Light" Value="198,198,198" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="112,164,235" />
                <SvgColor Name="Key Paint" Value="16,110,190" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="120,170,226" />
                <SvgColor Name="Red" Value="235,60,0" />
                <SvgColor Name="Green" Value="104,164,144" />
                <SvgColor Name="Blue" Value="77,130,184" />
                <SvgColor Name="Yellow" Value="234,194,130" />
                <SvgColor Name="Black" Value="114,114,114" />
                <SvgColor Name="Gray" Value="175,173,175" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="235,60,0" />
                <SvgColor Name="altGreen" Value="104,164,144" />
                <SvgColor Name="altBlue" Value="77,130,184" />
                <SvgColor Name="altYellow" Value="234,194,130" />
                <SvgColor Name="altBlack" Value="114,114,114" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>